node_modules/
.turbo/
.expo/
.expo-shared/
dist/
.next/
out/
build/
.env
.env.local
.env.*.local
*.log
.DS_Store
.vercel/
coverage/
.eas/
ios/
android/
supabase/.branches/
supabase/.temp/
.vscode/*
!.vscode/extensions.json
